/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.desc{
    left: 70%;
    background-color: rgba(0,0,0,.5);
    padding-top: 120px;
    padding-right: 360px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    textarea{
    width: 250px;
    }
    input{
    width: 250px;
    }
    .formhead{
    font-size: 15px;
    }
    .message{
    height: 410px;
    }
    #hero .slider-holder .bg-drop {
    height: 370px;
    }
    .infome{
    padding-left: 0;
    margin-left: 10px;
    }
    .info{
    padding-left: 10px;
    }
}
@media only screen and (max-width : 670px){
    .animated {
/*CSS transitions*/
-o-transition-property: none !important;
-moz-transition-property: none !important;
-ms-transition-property: none !important;
-webkit-transition-property: none !important;
transition-property: none !important;
/*CSS transforms*/
-o-transform: none !important;
-moz-transform: none !important;
-ms-transform: none !important;
-webkit-transform: none !important;
transform: none !important;
/*CSS animations*/
-webkit-animation: none !important;
-moz-animation: none !important;
-o-animation: none !important;
-ms-animation: none !important;
animation: none !important;
}
    .photowedding{
    width: 300px;
    height: 440px;
    }
    .photoportrait{
    width: 300px;
    height: 440px;
    }
    .photofamily{
    width: 300px;
    height: 440px;
    }
    .photolovestory{
    width: 300px;
    height: 440px;
    }
    .photobw{
    width: 300px;
    height: 350px;
    }
    .text_photoleft {
     width: 40%;
     margin-left: 0;
     float: left;
     padding-left: 8px;
     margin-bottom: 20px;
     margin-top: 10px;
    }
    .text_photoright{
     width: 40%;
     margin-right: 0;
     float: right;
     padding-right: 8px;
     margin-bottom: 20px;
     margin-top: 10px;
    }
    .text_photoright hr{
     width: 98%;
     margin-left: 3px;
    }
    .text_photoleft hr{
     width: 98%;
     margin-left: 3px;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .animated {
/*CSS transitions*/
-o-transition-property: none !important;
-moz-transition-property: none !important;
-ms-transition-property: none !important;
-webkit-transition-property: none !important;
transition-property: none !important;
/*CSS transforms*/
-o-transform: none !important;
-moz-transform: none !important;
-ms-transform: none !important;
-webkit-transform: none !important;
transform: none !important;
/*CSS animations*/
-webkit-animation: none !important;
-moz-animation: none !important;
-o-animation: none !important;
-ms-animation: none !important;
animation: none !important;
}   .loader{
    display: none;
    }
    .loaderArea{
    display: none;
    }
	.headerwrap h1{
    font-size: 25px;
	}
	.headerwrap h2{
	font-size: 20px;
	}
	.headerwrap p{
	font-size: 18px;
	}
	.logowrap{
    width: 190px;
    height: 60px;
	}
	input{
	width: 200px;
	}
    textarea{
    width: 200px;
    }
    .formhead{
    font-size: 14px;
    }
   .callback{
    padding: 22% 20%;
    }
    .desc{
    left: 70%;
    background-color: rgba(0,0,0,.5);
    padding-top: 120px;
    padding-right: 360px;
    }
    .socials{
    padding-top: 20px;
    width: 30%;
    }
    .socials li{
    width: 40px;
    height: 40px;
    border-radius: 12px;
}
    .contact{
    padding: 0;
    padding-right: 10px;
    }
    .infome{
    padding-left: 0;
    margin-left: 0px;
    padding-right: 10px;
    }
    .info{
    padding-left: 0;
    margin-left: 0px;
    }
    #hero .slider-holder .bg-drop {
    height: 380px;
    }
    #hero .slider-holder {
    height: 380px;
    }
    #hero .slider-holder .owl-item > div {
    margin-bottom: 60px;
    }
    .photowedding{
    height: 440px;
    float: left;
    }
    .photoportrait{
    height: 440px;
    }
    .photofamily{
    height: 440px;
    }
    .photolovestory{
    height: 440px;
    }
    .photobw{
    height: 350px;
    }
    .text_photoleft {
     width: 50%;
     margin-left: 0;
     padding-left: 30px;
     margin-bottom: 20px;
    }
    .text_photoright{
     width: 50%;
     margin-right: 0;
     padding-right: 30px;
     margin-bottom: 20px;
    }
    .text_photoright hr{
     width: 98%;
     margin-left: 3px;
    }
    .text_photoleft hr{
     width: 98%;
     margin-left: 3px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .animated {
/*CSS transitions*/
-o-transition-property: none !important;
-moz-transition-property: none !important;
-ms-transition-property: none !important;
-webkit-transition-property: none !important;
transition-property: none !important;
/*CSS transforms*/
-o-transform: none !important;
-moz-transform: none !important;
-ms-transform: none !important;
-webkit-transform: none !important;
transform: none !important;
/*CSS animations*/
-webkit-animation: none !important;
-moz-animation: none !important;
-o-animation: none !important;
-ms-animation: none !important;
animation: none !important;
}
    .loader{
    display: none;
    }
    .loaderArea{
    display: none;
    }
	.scrollup{
    float: right;
    right: 0;
    }   
    .headerwrap{
    background: url(../img/headermob.jpg) no-repeat center;
    width: 100%;
    height: 100%;
    margin-top: -12px;
    height: 420px;
    }
    .headerwrap h2 {
    font-size: 20px;
    font-weight: bold;
    }
     .headerwrap h1{
    font-size: 28px;
    font-weight: bold;
    }
     .headerwrap p{
    font-size: 17px;
    }
    .logowrap{
    width: 190px;
    height: 60px;
    }
    #content h1{
    font-size: 22px;
    margin-top: 0;
    }
    .library a{
    display: inline-block;
    overflow: hidden; width: 100%;
    position: relative;
    }
    .desc {
    left: 70%;
    background-color: rgba(0,0,0,.5);
    padding-top: 80px;
    padding-right: 295px;
    }
    .message{
    background: url(../img/ms2.jpg) center;
    height: 400px;
    }
    textarea{
    width: 240px;        
    }
    input{
    width: 240px;
    }
    .backms{
    margin-left: 0;
    width: 100%;
    }
    .button{
    width:100px;
    height: 35px;
    font-size: 13px;
    }
    .button span:after {
    top: -2px;
    }
    .message p{
    font-size: 15px;
    }
    .formhead{
    font-size: 16px;
    }
    #hero .slider-holder {
    height: 250px;
    }
    #hero .slider-holder .bg-drop {
    height: 250px;
    }
    #hero .slider-holder .owl-item > div {
    margin-bottom: 60px;
    }
    #hero .slider-holder .controls .arrow#left {
    left: 7px;
    }
    #hero .slider-holder .controls .arrow#right {
    right: 7px;
    }    
    .socials{
    padding-top: 20px;
    width: 50%;
    height: 100%;
    margin: 0;
    }
    .socials li{
    margin-bottom: 8px;
    margin-right: 14px;
    }
    .info{
    padding-left: 0;
    padding-right: 30px;
    }
    .informe{
    padding-left: 0;
    right: 0;
    } 
    .socials li{
    width: 43px;
    height: 43px;
    }
    .contact{
    float: left;
    margin-left: 40px;
    }  
    .contact h4{
     padding-top: 13px;
    }
    .header_portfolio{
    font-size: 25px;
    }
    .photowedding{
    width: 100%;
    height: 400px;
    }
    .photoportrait{
    width: 100%;
    height: 400px;
    }
    .photofamily{
    width: 100%;
    height: 400px;
    }
    .photolovestory{
    width: 100%;
    height: 400px;
    }
    .photobw{
    width: 100%;
    height: 350px;
    }
    .text_photoleft {
     width: 100%;
     margin-left: 0;
     padding-left: 5px;
     padding-right: 5px;
     margin-bottom: 20px;
    }
    .text_photoright{
     width: 100%;
     margin-right: 0;
     padding-left: 5px;
     padding-right: 5px;
     margin-bottom: 20px;
    }
    .text_photoright hr{
     width: 98%;
    }
    .text_photoleft hr{
     width: 98%;
    }
    .myphoto{
    width: 100%;
    margin-left: 0;
    }
    .myinfo{
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
    }
    .myinfo p{
    padding-left: 21% ;
    }
    .contactnumb1{
    padding-left: 21%;
    } 
    .contactnumb2{
    padding-left: 21%;
    }
    .socialcontact{
    margin-left: 18%;
    width: 280px;
    }
    .socialcontact li{
    width: 38px;
    height: 38px;
    border: 2px solid #2d2d2d;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    }
    .socialcontact li .fa{
    font-size: 15px;
}
    }

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.animated {
/*CSS transitions*/
-o-transition-property: none !important;
-moz-transition-property: none !important;
-ms-transition-property: none !important;
-webkit-transition-property: none !important;
transition-property: none !important;
/*CSS transforms*/
-o-transform: none !important;
-moz-transform: none !important;
-ms-transform: none !important;
-webkit-transform: none !important;
transform: none !important;
/*CSS animations*/
-webkit-animation: none !important;
-moz-animation: none !important;
-o-animation: none !important;
-ms-animation: none !important;
animation: none !important;
}   
    .loader{
    display: none;
    }
    .loaderArea{
    display: none;
    }
    .headerwrap{
	margin-top: -15px;
	}
	.headerwrap h1{
	font-size: 22px;
	}
	.headerwrap h2{
	font-size: 16px;
	}
    .scrollup{
    left: 0;
    width: 40px;
    }
    .logowrap{
    width: 140px;
    height: 50px;
    }
    input{
    width: 200px;
    }
    textarea{
    width: 200px;
    }
    .formhead{
    font-size: 12px;
    }
    .message p{
    font-size: 10px;
    }
    .desc {
    left: 70%;
    background-color: rgba(0,0,0,.4);
    padding-top: 50px;
    padding-right: 70%;
    font-size: 14px;
    }
    .wbutton {
    width: 100px;
    height: 33px;
    font-size: 9px;
    }
    .button{
    width:80px;
    height: 25px;
    font-size: 10px;
    padding-top: 6px;
    }
    .button span:after {
    top: -1px;
    }
    .infome{
    margin-top: 20px;
    font-size: 13px;
    padding-right: 0;
    }
    .infome h4{
    padding-top: 10px;
    }
    .info{
    right: 0;
    padding-right: 10px;
    
    }
    .contact{
    padding-top: 10px;
    padding-right: 0;
    }
    .header_portfolio{
    font-size: 25px;
    }
    .photowedding{
    width: 100%;
    height: 350px;
    }
    .photoportrait{
    width: 100%;
    height: 350px;
    }
    .photofamily{
    width: 100%;
    height: 350px;
    }
    .photolovestory{
    width: 100%;
    height: 350px;
    }
    .photobw{
    width: 100%;
    height: 350px;
    }
    .text_photoleft {
     width: 100%;
     padding-left: 5px;
     padding-right: 5px;
     margin-bottom: 20px;
     margin-left: 0;
    }
    .text_photoright{
     width: 100%;
     padding-left: 5px;
     padding-right: 5px;
     margin-right: 0;
     margin-bottom: 20px;
    }
    .text_photoright hr{
    text-align: center;
     width: 98%;
    }
    .text_photoleft hr{
    text-align: center;
     width: 98%;
    }
    .myphoto{
    width: 100%;
    margin-left: 0;
    }
    .myinfo{
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
    }
    .myinfo p{
    padding-left: 20px;
    }
    .contactnumb1{
    padding-left: 20px;
    } 
    .contactnumb2{
    padding-left: 20px;
    }
    .socialcontact{
    margin-left: 40px;
    width: 280px;
    }
    .socialcontact li{
    width: 38px;
    height: 38px;
    border: 2px solid #2d2d2d;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    }
    .socialcontact li .fa{
    font-size: 15px;
}
}
@media only screen and (max-width : 375px){
    .loader{
    display: none;
    }
	.desc {
    left: 70%;
    background-color: rgba(0,0,0,.4);
    padding-top: 80px;
    padding-right: 69%;
    font-size: 14px;
    }
    .contact h4{
     padding-top: 13px;
    }
}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 1200px) {
    #portfolio .container{
    width: 70%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .headerwrap{
    margin-top: 60px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1400px) {
    #hero .slider-holder {
    height: 580px;
    }
    #hero .slider-holder .bg-drop {
    height: 580px;
    }
    .message{
    background: url(../img/ms3.jpg) no-repeat;
    height: 550px;
    }
    textarea{
    margin-top: 20px;
    width: 370px;
    }
    input{
    margin-top: 20px;
    width: 370px;
    }
    .callback{
    padding: 100px 200px;
    }
    .library a{
    display: inline-block;
    overflow: hidden; width: 580px;
    position: relative;
    }
    .socials h4{
    font-size: 24px;
    }
    .info{
    font-size: 20px;
    }
    .infome{
    font-size: 20px;
    }
    .contact{
    font-size: 20px;
    }
    .contact p{
    font-size: 20px;
    }
    .numb1{
    font-size: 20px;	
    }
    .numb2{
    font-size: 20px;
    }
    .header_portfolio{
    font-size: 40px;
    }
    .button_m{
    width: 140px;
    height: 50px;
    padding-top: 13px;
    }
    .photowedding{
    width:420px;
    height: 500px;
    }
    .text_photoleft{
    padding-top: 30px;
    }
    .text_photoright{
    padding-top: 30px;
    }
    .text_photoleft{
    width: 560px;
    float: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 40px;
    }
    .text_photoleft h2{
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
    }
    .text_photoleft p{
    padding-top: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: justify; 
    line-height: 23px;
    }
    .text_photoleft hr{
    width: 545px;
    margin-left: 5px;
    }
    .photoportrait{
     width:420px;
     height: 500px;
     float: right;
     }
     .text_photoright{
      width: 560px;
      float: right;
      text-align: center;
      margin-right: 40px;
      margin-top: 40px;
     }
     .text_photoright h2{
     font-size: 28px;
     letter-spacing: 2px;
     text-align: center;

     }
     .text_photoright p{
     padding-top: 20px;
     font-size: 20px;
     letter-spacing: 1px;
     text-align: justify; 
     line-height: 23px;
     }
     .text_photoright hr{
     width: 545px;
     margin-left: 5px;
     }
     .photofamily{
     width:420px;
     height: 500px;
     float: left;
     }
     .photolovestory{
     width:420px;
     height: 500px;
     float: right; }
     .photobw{
     width:420px;
     height: 500px;
     float: left;
     margin-bottom: 40px;
      }
}